{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- if not $codespaces }}
[commit]
	gpgsign = true
[user]
	signingKey = {{ (onepassword "mgcwc3wxo6j32dt2xsxeuumxa4").details.password }}
	email = agucova@uc.cl
	name = Agustín Covarrubias
[merge]
	tool = meld
[diff]
	guitool = meld
	tool = meld
[mergetool "meld"]
	path = /usr/bin/meld
[gpg]
	program = /usr/bin/gpg2
{{- end }}

[color]
	ui = auto
[rebase]
	stat = true
[init]
	defaultBranch = main
